# Environment Variables (SENSITIVE)
.env

# Python
__pycache__/
*.pyc
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
ENV/
env.bak/
venv.bak/
hello-env/

# Streamlit
.streamlit/

# Documents
*.pdf
docs/


# OS
.DS_Store
Thumbs.db
