# Core AI and RAG
langchain
langchain-community
langchain-huggingface
langchain-mongodb
langchain-google-genai
sentence-transformers
torch
torchvision
groq

# Database
pymongo
dnspython

# PDF and Image Processing
pypdf
pymuPDF
pillow

# UI and Environment
streamlit
python-dotenv
